.portafolio-sidebar-list-wrapper {
    .portafolio-item-thumb {
        padding: 21px;

        .portafolio-thumb-img img {
            width: 100%;
        }

        .title {
            color: $offwhite;
        }
    }
}